<section role="main" class="content-body">
    <header class="page-header">
        <h2>{{ page }}</h2>
    
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a [routerLink]="['/']">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>{{ page }}</span></li>
            </ol>
    
            <a class="sidebar-right-toggle" data-open="sidebar-right"></a>
        </div>
    </header>
  
        <div class="row">
        <div class="col-md-5">
            <section class="panel">
                <div class="panel-body text-center" style="padding-top: 5%; padding-bottom: 4%;">
                    
                    <div>
                        <img src="assets/images/apple-touch-icon-precomposed.png">
                    </div>
                    <div style="font-size: 1.4rem;font-weight: bold;">
                        {{ dataContent?.name }}
                    </div>
                    <div>
                        {{ dataContent?.code }}
                    </div>
  
                </div>
            </section>
        </div>
        <div class="col-md-7">
            <section class="panel">
                <div class="panel-body">
  
                    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Agency Name</label>
                                    <input type="text" name="name" class="form-control" required formControlName="name" placeholder="Name">
                                    <div class="alert alert-danger" role="alert" *ngIf="name?.errors?.required && (name?.dirty || name?.touched)">
                                        Agency Name is required!
                                      </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 2%;">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Agency Detail</label>
                                    <input type="text" name="detail" class="form-control" required formControlName="detail" placeholder="Details">
                                    <div class="alert alert-danger" role="alert" *ngIf="detail?.errors?.required && (detail?.dirty || detail?.touched)">
                                        Agency Detail is required!
                                      </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 4%;">
                            <div class="col-sm-12 text-left">
                                <input [disabled]="!form.valid" type="submit" class="btn btn-primary" value="Update">
                            </div>
                        </div>

                    </form>

                </div>
            </section>
        </div>
    </div>
    <!-- end: page -->
  </section>