<section class="body">

    <!-- start: header -->
    <header class="header">
        <div class="logo-container">
            <div class="logo">
                <img src="assets/images/logo.png" height="35" alt="JSOFT Admin" />
            </div>
            <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
            </div>
        </div>
    
        <!-- start: search & user box -->
        <div class="header-right">
    
            <span class="separator"></span>
    
            <div id="userbox" class="userbox">
                <a href="#" data-toggle="dropdown">
                    <div class="profile-info">
                        <span class="name">{{ currentUser.firstName + ' ' + currentUser.lastName }}</span>
                    </div>
    
                    <i class="fa custom-caret"></i>
                </a>
    
                <div class="dropdown-menu">
                    <ul class="list-unstyled">
                        <li class="divider"></li>
                        <li>
                            <a style="cursor: pointer;" role="menuitem" tabindex="-1" (click)="logout();"><i class="fa fa-power-off"></i> Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end: search & user box -->
    </header>
    <!-- end: header -->

    <div class="inner-wrapper">
        <!-- start: sidebar -->
        <aside id="sidebar-left" class="sidebar-left">
        
            <div class="sidebar-header">
                <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>
        
            <div class="nano">
                <div class="nano-content">
                    <nav id="menu" class="nav-main" role="navigation">
                        <ul class="nav nav-main">
                            <li>
                                <a [routerLink]="['/']">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/agency']">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <span>Agency</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/buses']">
                                    <i class="fa fa-car" aria-hidden="true"></i>
                                    <span>Buses</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/trips']">
                                    <i class="fa fa-suitcase" aria-hidden="true"></i>
                                    <span>Trips</span>
                                </a>
                            </li>
                            <li>
                                <a [routerLink]="['/profile']">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span>Profile</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
        
                    <hr class="separator" />        
                    
                </div>
        
            </div>
        
        </aside>
        <!-- end: sidebar -->

        <div class='col-md-12' style="margin: 0 -1.1%;">
        <router-outlet></router-outlet>
        </div>
    </div>
</section>