<section role="main" class="content-body">
  <header class="page-header">
      <h2>{{ page }}</h2>
  
      <div class="right-wrapper pull-right">
          <ol class="breadcrumbs">
              <li>
                  <a [routerLink]="['/']">
                      <i class="fa fa-home"></i>
                  </a>
              </li>
              <li><span>{{ page }}</span></li>
          </ol>
  
          <a class="sidebar-right-toggle" data-open="sidebar-right"></a>
      </div>
  </header>

  <div class="row">
      <div class="col-md-4">
          <section class="panel">
            <div class="panel-body text-center" style="padding-top: 5%; padding-bottom: 4%;">
                    
              <div>
                  <img src="assets/images/apple-touch-icon-precomposed.png">
              </div>
              <div style="font-size: 1.4rem;font-weight: bold;">
                  {{ content.first_name + ' ' + content.last_name }}
              </div>

            </div>
          </section>
      </div>
      <div class="col-md-4">
          <section class="panel">
              <div class="panel-body">

                  <!-- <form name="form" (ngSubmit)="f.form.valid && updateSubmit()" #f="ngForm" novalidate> -->
                    <form [formGroup]="formUpdate" (ngSubmit)="updateSubmit()" novalidate>

                      <div class="row">
                          <div class="col-sm-12">
                              <div class="form-group">
                                  <label class="control-label">First Name</label>
                                  <!-- <input type="text" name="firstName" class="form-control" [(ngModel)]="form.firstName" required #firstName="ngModel" placeholder="First Name"> -->
                                  <input type="text" name="firstName" class="form-control" formControlName="firstName" required placeholder="First Name">
                                  <!-- <div class="alert alert-danger" role="alert" *ngIf="firstName.errors && f.submitted">
                                      First Name is required!
                                    </div> -->
                              </div>
                          </div>
                      </div>

                      <div class="row" style="margin-top: 2%;">
                          <div class="col-sm-12">
                              <div class="form-group">
                                  <label class="control-label">Last Name</label>
                                  <!-- <input type="text" name="lastName" class="form-control" [(ngModel)]="form.lastName" required #lastName="ngModel" placeholder="Last Name"> -->
                                  <input type="text" name="lastName" class="form-control" required formControlName="lastName" placeholder="Last Name">
                                  <!-- <div class="alert alert-danger" role="alert" *ngIf="lastName.errors && f.submitted">
                                      Last Name is required!
                                    </div> -->
                              </div>
                          </div>
                      </div>

                      <div class="row" style="margin-top: 2%;">
                          <div class="col-sm-12">
                              <div class="form-group">
                                  <label class="control-label">Mobile Number</label>
                                  <!-- <input type="text" name="mobileNumber" class="form-control" [(ngModel)]="form.mobileNumber" required #mobileNumber="ngModel" placeholder="Mobile Number"> -->
                                  <input type="text" name="mobileNumber" class="form-control" required formControlName="mobileNumber" placeholder="Mobile Number">
                                  <!-- <div class="alert alert-danger" role="alert" *ngIf="mobileNumber.errors && f.submitted">
                                      Mobile Number is required!
                                    </div> -->
                              </div>
                          </div>
                      </div>

                      <div class="row" style="margin-top: 4%;">
                          <div class="col-sm-12 text-left">
                              <input type="submit" class="btn btn-primary" value="Update Profile">
                          </div>
                      </div>

                  </form>

              </div>
          </section>
      </div>

      <div class="col-md-4">
        <section class="panel">
            <div class="panel-body">

                <!-- <form [formGroup]="formChangePassword" (ngSubmit)="frm.form.valid && submitChange(frm)" #frm="ngForm" novalidate> -->
                <form [formGroup]="formChangePassword" (ngSubmit)="submitChange()" novalidate>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Username</label>
                                <!-- <input readonly type="text" name="username" class="form-control" [(ngModel)]="changePassword.username" required #username="ngModel" placeholder="Username"> -->
                                <input readonly type="text" name="username" class="form-control" formControlName="username" required placeholder="Username">
                                <!-- <div class="alert alert-danger" role="alert" *ngIf="username.errors && frm.submitted">
                                    Username is required!
                                  </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 2%;">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Password</label>
                                <!-- <input type="password" name="password" class="form-control" [(ngModel)]="changePassword.password" required #password="ngModel" placeholder="Password"> -->
                                <input type="password" name="password" class="form-control" required formControlName="password" placeholder="Password">
                                <!-- <div class="alert alert-danger" role="alert" *ngIf="password.errors && frm.submitted">
                                    Password is required!
                                  </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 4%;">
                        <div class="col-sm-12 text-left">
                            <input type="submit" class="btn btn-primary" value="Change Password">
                        </div>
                    </div>

                </form>

            </div>
        </section>
    </div>
  </div>
</section>