<section role="main" class="content-body">
  <header class="page-header">
      <h2>{{ page }}</h2>
  
      <div class="right-wrapper pull-right">
          <ol class="breadcrumbs">
              <li>
                  <a [routerLink]="['/']">
                      <i class="fa fa-home"></i>
                  </a>
              </li>
              <li><span>{{ page }}</span></li>
          </ol>
  
          <a class="sidebar-right-toggle" data-open="sidebar-right"></a>
      </div>
  </header>

      <div class="row">
        <div class="col-md-7">
            <section class="panel">
                <header class="panel-heading">    
                    <h2 class="panel-title">Sales Overview</h2>
                    <p class="panel-subtitle">Ample Admin vs Pixel Admin</p>
                </header>
                <div class="panel-body">
    
                    <!-- Morris: Bar -->
                    <div mkMorrisJs="Bar" [options]="chartBarOptions" [data]="chartBarData" type="Bar" style="height: 400px; width: 100%"></div>
    
                </div>
            </section>
        </div>
        <div class="col-md-5">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Our Visitors</h2>
                    <p class="panel-subtitle">Different Devices Used to Visit.</p>
                </header>
                <div class="panel-body">
    
                    <div mkMorrisJs="Donut" [options]="chartDonutOptions" [data]="chartDonutData" style="height: 200px; width: 100%"></div>
                    
                </div>
            </section>
        </div>
      </div>
  <!-- end: page -->
</section>