<!-- start: page -->
<section class="body-sign">
  <div class="center-sign">
    <a href="/" class="logo pull-left">
      <img src="assets/images/logo.png" height="54" alt="Porto Admin" />
    </a>

    <div class="panel panel-sign">
      <div class="panel-title-sign mt-xl text-right">
        <h2 class="title text-uppercase text-bold m-none"><i class="fa fa-user mr-xs"></i> Sign Up</h2>
      </div>
      <div class="panel-body">
        <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group mb-lg">
            <label>First Name</label>
            <input type="text" name="firstName" [(ngModel)]="form.firstName" required #firstName="ngModel" placeholder="First Name" class="form-control input-md" />
            <div class="alert-danger" *ngIf="firstName.errors && f.submitted">
              <div *ngIf="firstName.errors.required">First Name is required</div>
            </div>
          </div>

          <div class="form-group mb-lg">
            <label>Last Name</label>
            <input type="text" name="lastName" [(ngModel)]="form.lastName" required #lastName="ngModel" placeholder="Last Name" class="form-control input-md" />
            <div class="alert-danger" *ngIf="lastName.errors && f.submitted">
              <div *ngIf="lastName.errors.required">Last Name is required</div>
            </div>
          </div>

          <div class="form-group mb-lg">
            <label>Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3" maxlength="50" #username="ngModel" placeholder="Username" class="form-control input-md" />
            <div class="alert-danger" *ngIf="username.errors && f.submitted">
              <div *ngIf="username.errors.required">
                Username is required
              </div>
              <div *ngIf="username.errors.minlength">
                Username must be at least 3 characters
              </div>
              <div *ngIf="username.errors.maxlength">
                Username must be at most 20 characters
              </div>
            </div>
          </div>

          <div class="form-group mb-lg">
            <label>Mobile Number</label>
            <input type="text" name="mobileNumber" [(ngModel)]="form.mobileNumber" required #mobileNumber="ngModel" placeholder="Mobile Number" class="form-control input-md" />
            <div class="alert-danger" *ngIf="mobileNumber.errors && f.submitted">
              <div *ngIf="mobileNumber.errors.required">Mobile Number is required</div>
            </div>
          </div>

          <div class="form-group mb-lg">
            <label>Password</label>
            <input type="password" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" placeholder="Password" class="form-control input-md" />
            <div class="alert-danger" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>

          <div class="form-group mb-lg">
            <label>Agency Name</label>
            <input type="text" name="agencyName" [(ngModel)]="form.agencyName" required #agencyName="ngModel" placeholder="Agency Name" class="form-control input-md" />
            <div class="alert-danger" *ngIf="agencyName.errors && f.submitted">
              <div *ngIf="agencyName.errors.required">Agency Name is required</div>
            </div>
          </div>

          <div class="form-group mb-lg">
            <label>Agency Code</label>
            <input type="text" name="agencyCode" [(ngModel)]="form.agencyCode" required #agencyCode="ngModel" placeholder="Agency Code" class="form-control input-md" />
            <div class="alert-danger" *ngIf="agencyCode.errors && f.submitted">
              <div *ngIf="agencyCode.errors.required">Agency Code is required</div>
            </div>
          </div>

          <div class="form-group mb-lg">
            <label>Agency Details</label>
            <input type="text" name="agencyDetails" [(ngModel)]="form.agencyDetails" required #agencyDetails="ngModel" placeholder="Agency Details" class="form-control input-md" />
            <div class="alert-danger" *ngIf="agencyDetails.errors && f.submitted">
              <div *ngIf="agencyDetails.errors.required">Agency Details is required</div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 text-center">
              <button type="submit" class="btn btn-primary hidden-xs">Sign Up</button>
              <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Sign Up</button>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                Signup failed!<br />{{ errorMessage }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 text-center">
              <div class="alert alert-success" *ngIf="isSuccessful">
                Your registration is successful!
              </div>
            </div>
          </div>

          <span class="mt-lg mb-lg line-thru text-center text-uppercase">
            <span>or</span>
          </span>

          <p class="text-center">Already have an account? <a href="/login">Sign In!</a>

        </form>
      </div>
    </div>

    <p class="text-center text-muted mt-md mb-md">&copy; Copyright 2018. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
  </div>
</section>
<!-- end: page -->